<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="form" action="/team" method="post">
     <label for="team_name">Team name:</label>
     <input type="text" name="team_name">
     <br>
     <label for="coach">Coach:</label>
     <input type="text" name="coach">
     <br>
     <label for="pg">Point guard:</label>
     <input type="text" name="pg">
     <br>
     <label for="sg">Shot guard:</label>
     <input type="text" name="sg">
     <br>
     <label for="sf">Small forward:</label>
     <input type="text" name="sf">
     <br>
     <label for="pf">Power forward:</label>
     <input type="text" name="pf">
     <br>
     <label for="center">Center:</label>
     <input type="text" name="center">
     <br>
     <input type="submit" name="submit">
   </form>
 </body>
</html>
