<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="form" action="/team" method="post">
     <label for="team_name">
       <input type="text" name="team_name">
     </label>

     <label for="coach">Coach:
       <input type="text" name="coach">
     </label>

     <label for="pg">
       <input type="text" name="pg">
     </label>

     <label for="sg">
       <input type="text" name="sg">
     </label>

     <label for="sf">
       <input type="text" name="sf">
     </label>

     <label for="pf">
       <input type="text" name="pf">
     </label>

     <label for="center">
       <input type="text" name="center">
     </label>

     <input type="submit" name="submit">
   </form>
 </body>
</html>
